<div>
  <h4 class="expander cola-red">Your Orders</h4>
  <div class="expanded">
    <% current_user.orders.each do |order| %>
        Order <%= order.id %>
        <ul>
          <% order.line_items.each do |line_item| %>
            <li><%= line_item.product.name %>: <%= line_item.quantity %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
<div>
  <h4 class="expander cola-red">New Order</h4>
  <div class="expanded">
    <%= render partial: 'pages/product_order_form' %>
  </div>
</div>