<div class="row">
  <div class="col-md-1 col-md-offset-4">
    <div class="products-sold">
      <h2 class="steelfish">Cases Sold: <%= line_items_quantity_total %></h2>
    </div>

    <div class="orders-shipped">
      <h2 class="steelfish">Cases Shipped: <%= orders_shipped %></h2>
    </div>
  </div>
  <div class="col-md-2">
    <%= image_tag('coder-cola.jpg', class: 'img-responsive') %>
  </div>
  <div class="col-md-2">
    <h1 class="steelfish">
      Refreshing...<br><br>
      Delicious...<br><br>
      <span class="coder-cola">1oder Cola</span>
    </h1>
    <p><strong class="cola-red">Coder Cola</strong>, the greatest beverage known to mankind is finally available to you!
      Just fill out the form below to sign up and have <strong class="cola-red">Coder Cola</strong> delivered right to your
      doorstep!</p>

      <%= render partial: user_view %>
  </div>
</div>
