@import 'variables';

html {
  font: 1em normal Verdana;
}
header {
  background: $cola-red;
  background: linear-gradient($cola-red, #970009);
  box-shadow: 0px 3px 3px #888888;
  color: white;
  margin-bottom: 10px;

  .logo {
    color: white;
    font-family: 'Loki Cola';
    font-size: 4em;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
.coder-cola {
  color: $cola-red;
  font-family: 'Loki Cola';
}
.cola-red {
  color: $cola-red;
}
.cola-red-bg {
  background: linear-gradient($cola-red, #970009);
}
.expander {
  cursor: pointer;
}
.expanded {
  display: none;
}