@import 'variables';

html {
  background: $cola-red;
  font: 1em normal Verdana;
}
header {
  background: $cola-red;
  background: linear-gradient($cola-red, #970009);
  box-shadow: 0px 3px 3px #888888;
  color: white;
  margin-bottom: 10px;

  .logo {
    color: white;
    font-family: 'Loki Cola';
    font-size: 4em;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
footer {
  background: $cola-red;
  padding: 5px;

  a,a:hover {
    color: white;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: red;
  input {
    border: 1px solid red;
  }
}

.coder-cola {
  color: $cola-red;
  font-family: 'Loki Cola';
}
.cola-red {
  color: $cola-red;
}
.cola-red-bg {
  background: linear-gradient($cola-red, #970009);
}
.expander {
  cursor: pointer;
}
.expanded {
  display: none;
}